absl-py==2.1.0
AccessControl==7.2
Acquisition==6.1
addict==2.4.0
alabaster==0.7.16
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
anykeystore==0.2
apex==0.9.10.dev0
asttokens==3.0.0
astunparse==1.6.3
attrs==24.2.0
audioread==3.0.1
AuthEncoding==5.0
av==13.1.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.2.0
BTrees==6.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
Chameleon==4.5.4
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.1
coverage==7.6.7
crcmod==1.7
cryptacular==1.6.2
cryptography==43.0.3
cycler==0.12.1
DateTime==5.5
debugpy==1.8.9
decorator==4.4.2
decord==0.6.0
defusedxml==0.7.1
dnspython==2.7.0
docker-pycreds==0.4.0
DocumentTemplate==4.6
docutils==0.18.1
einops==0.8.0
email_validator==2.2.0
exceptiongroup==1.2.2
executing==2.1.0
ExtensionClass==6.0
filelock==3.14.0
flake8==7.1.1
flatbuffers==1.12
fonttools==4.55.0
fsspec==2024.10.0
ftfy==6.3.1
future==1.0.0
gast==0.4.0
git-filter-repo==2.45.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.68.0
gurobipy==12.0.0
h5py==3.12.1
huggingface-hub==0.26.2
humanfriendly==10.0
hupper==1.12.1
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
imagesize==1.4.1
imbalanced-learn==0.12.4
imgaug==0.4.0
immutabledict==4.2.1
importlib_metadata==8.5.0
imutils==0.5.4
iniconfig==2.0.0
interrogate==1.7.0
ipdb==0.13.13
ipykernel==6.29.5
ipython==8.30.0
isort==4.3.21
jedi==0.19.2
Jinja2==3.1.4
jmespath==0.10.0
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kaggle==1.6.17
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
lmdb==1.5.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
ml-dtypes==0.4.1
mmaction==0.5.0
-e git+https://github.com/Hamza-algobba/Thesis_HAR.git@b51e9668784ef151a006a03edd95f2f47f75567b#egg=mmaction2
mmcv==2.1.0
mmcv-full==1.4.0
mmdet==3.3.0
mmengine==0.10.5
model-index==0.1.11
modelindex==0.0.2
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
MultiMapping==5.0
multipart==1.1.0
myst-parser==3.0.1
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
onnx==1.17.0
onnxruntime==1.20.0
openai-clip==1.0.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.2
opt_einsum==3.4.0
optree==0.13.1
ordered-set==4.1.0
ortools==9.11.4210
oss2==2.17.0
packaging==24.2
pafy==0.5.5
pandas==2.2.3
parameterized==0.9.0
parso==0.8.4
PasteDeploy==3.1.0
pbkdf2==1.3
Persistence==5.1
persistent==6.1
pexpect==4.9.0
pillow==11.1.0
PIMS==0.7
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.2
prettytable==3.14.0
proglog==0.1.10
prompt_toolkit==3.0.48
protobuf==3.20.3
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycocotools==2.0.8
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==3.2.0
pyramid==1.10.4
pyramid-mailer==0.15.1
pytest==8.3.3
pytest-runner==6.0.1
python-dateutil==2.9.0.post0
python-gettext==5.0
python-slugify==8.0.4
python-vlc==3.0.21203
python3-openid==3.2.0
-e git+https://github.com/open-mmlab/pytorch_sphinx_theme.git@cf1aa23d2621c6ebe7f5c0b8e7ecd23a82300f3b#egg=pytorch_sphinx_theme
PyTurboJPEG==1.7.7
pytz==2023.4
PyYAML==6.0.2
pyzmq==26.2.0
regex==2024.11.6
repoze.sendmail==4.4.1
requests==2.28.2
requests-oauthlib==2.0.0
RestrictedPython==7.4
rich==13.4.2
roman==4.2
rsa==4.9
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sentry-sdk==2.19.0
setproctitle==1.3.4
shapely==2.0.6
six==1.16.0
slicerator==1.1.0
smmap==5.0.1
snowballstemmer==2.2.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
Sphinx==6.1.3
sphinx-copybutton==0.5.2
sphinx-markdown-tables==0.0.17
sphinx-notfound-page==1.0.4
sphinx-tabs==3.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.36
stack-data==0.6.3
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminaltables==3.1.10
text-unidecode==1.3
threadpoolctl==3.5.0
tifffile==2024.9.20
timm==1.0.11
titlecase==2.4.1
tokenizers==0.20.3
tomli==2.1.0
torch==2.1.2+cu121
torchaudio==2.1.2+cu121
torchvision==0.16.2+cu121
tornado==6.4.2
tqdm==4.65.2
traitlets==5.14.3
transaction==5.0
transformers==4.46.3
translationstring==1.4
triton==2.1.0
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.78
ultralytics-thop==2.0.14
urllib3==1.26.20
velruse==1.1.1
venusian==3.1.0
waitress==3.0.2
wandb==0.18.7
wcwidth==0.2.13
webencodings==0.5.1
WebOb==1.8.9
WebTest==3.0.1
Werkzeug==3.1.3
wrapt==1.17.0
WSGIProxy2==0.5.1
WTForms==2.3.3
wtforms-recaptcha==0.3.2
xdoctest==1.2.0
xgboost==2.1.3
yapf==0.43.0
youtube-dl==2021.12.17
z3c.pt==4.4
zc.lockfile==3.0.post1
ZConfig==4.1
zExceptions==5.0
zipp==3.21.0
ZODB==6.0
zodbpickle==4.1.1
Zope==5.11.1
zope.annotation==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.component==6.0
zope.configuration==5.0.1
zope.container==6.1
zope.contentprovider==6.0
zope.contenttype==5.1
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==5.0
zope.exceptions==5.2
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==7.0
zope.i18n==5.2
zope.i18nmessageid==7.0
zope.interface==7.1.1
zope.lifecycleevent==5.0
zope.location==5.0
zope.pagetemplate==5.1
zope.processlifetime==3.0
zope.proxy==6.1
zope.ptresource==5.0
zope.publisher==7.1
zope.schema==7.0.1
zope.security==7.3
zope.sequencesort==5.0
zope.site==5.0
zope.size==5.0
zope.sqlalchemy==3.1
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testbrowser==7.0
zope.testing==5.0.1
zope.traversing==5.0
zope.viewlet==5.0
